
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.description{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.description img{
  margin: 30px;
  
}
.description section{
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.description section article{
  padding: 15px;
  width: 400px;
}


@media screen and (max-width: 900px){
  .description img{
    width: 100%;
    
    height: auto;
  }

}
