* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 861px) {
    header {
        background-color: #949b96;
        display: flex;
    }
    .headergris {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .headergrisleft {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
    }
    .headergrisleft a {
        display: flex;
        margin: 30px;
        font-size: 18px;
        text-decoration: none;
        color: #3a3335;
    }
    .headergrisleft a:hover {
        color: #dc493a;
        font-size: 20px;
    }
    .headergrisright {
        display: flex;
    }
    .headergrisright img {
        width: 120px;
        height: 100%;
        margin-left: 20px;
    }
}
@media screen and (max-width: 860px) {
    header {
        background-color: #949b96;
        display: flex;
    }
    .headergris {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .headergrisleft {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
    }
    .headergrisleft a {
        display: flex;
        margin: 10px;
        font-size: 15px;
        text-decoration: none;
        color: #3a3335;
    }
    .headergrisright {
        display: flex;
    }
    .headergrisright img {
        width: 120px;
        height: 100%;
        margin-left: 90px;
    }
}
@media screen and (max-width: 600px) {
    header {
        background-color: #949b96;
        display: flex;
    }
    .headergris {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .headergrisleft {
        display: none;
    }
    .headergrisleft a {
        display: none;
    }
    .headergrisright {
        display: flex;
    }
    .headergrisright img {
        display: flex;
        width: 120px;
    }
}
